@using DecenaSoluciones.POS.Shared.Dtos;
@using DecenaSoluciones.POS.Shared.Services;
@using DecenaSoluciones.POS.WebApp.Extensions;
@using CurrieTechnologies.Razor.SweetAlert2;
@using Microsoft.AspNetCore.Components.Authorization

@inject SweetAlertService Swal;
@inject IAuthService authService;


<EditForm Model="changeModel" OnValidSubmit="OnValidSubmit" class="row g-3" Context="EditFormContext">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <InputText hidden="hidden" @bind-Value="changeModel.Username" />
    <div class="col-md-6">
        <label class="form-label">Contraseña:</label>
        <input class="form-control" @bind="changeModel.Password" maxlength="15" type="password"></input>
        <ValidationMessage For="@(() => changeModel.Password)"></ValidationMessage>
    </div>
    <div class="col-md-6">
        <label class="form-label">Confirmar contraseña:</label>
        <input class="form-control" @bind="passwordConfirm" maxlength="15" type="password"></input>
        <ValidationMessage For="@(() => changeModel.Password)"></ValidationMessage>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
        <button type="submit" Class="btn btn-primary">
            Guardar
        </button>
        <Button Color="ButtonColor.Secondary" @onclick="CloseModal">Cancelar</Button>
    </div>
</EditForm>

@code {
    [Inject] protected PreloadService? PreloadService { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClose { get; set; }
    [Parameter] public string userName { get; set; } = string.Empty;

    ChangePasswordViewModel changeModel = new ChangePasswordViewModel();
    string passwordConfirm = string.Empty;

    private async Task CloseModal()
    {
        await OnClose.InvokeAsync();
    }

    protected override void OnInitialized()
    {
        changeModel.Username = userName;
    }

    private string validateUser()
    {
        if (string.IsNullOrEmpty(changeModel.Password))
            return "Favor de ingresar una contraseña válida";
        if (changeModel.Password != passwordConfirm)
            return "Las contraseñas no coinciden";

        return string.Empty;
    }

    private async Task OnValidSubmit()
    {
        var validations = validateUser();
        if (string.IsNullOrEmpty(validations))
        {

            PreloadService!.Show();
            try
            {
                passwordConfirm = string.Empty;
                var response = await authService.ChangePassword(changeModel);
                PreloadService.Hide();
                if (response.Success)
                {
                    await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "Exito",
                            Text = "Contraseña modificada exitosamente.",
                            Icon = SweetAlertIcon.Success
                        });

                    await CloseModal();
                }
                else
                {
                    await Swal.FireAsync(new SweetAlertOptions
                        {
                            Title = "Error",
                            Text = response.Message.HandleErrorMessage(),
                            Icon = SweetAlertIcon.Error
                        });
                }
            }
            catch (Exception ex)
            {
                PreloadService.Hide();
                await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Error",
                        Text = ex.Message.HandleErrorMessage(),
                        Icon = SweetAlertIcon.Error
                    });

            }
        }
        else
        {
            await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Error",
                    Text = validations,
                    Icon = SweetAlertIcon.Error
                });
        }
    }
}
