@using BlazorBootstrap

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="bg-dark text-white border-bottom-0 headerRow">
                @foreach (var header in Headers)
                {
                    <th>@header</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < RowCount; i++)
            {
                <tr>
                    @foreach (var header in Headers)
                    {
                        <td>
                            <PlaceholderContainer Animation="PlaceholderAnimation.Glow">
                                <Placeholder Width="PlaceholderWidth.Col12" />
                            </PlaceholderContainer>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter] public List<string> Headers { get; set; } = new List<string>();
    [Parameter] public int RowCount { get; set; } = 15;
}
