@page "/Login"
@layout LoginLayout

@using DecenaSoluciones.POS.Shared.Dtos;
@using DecenaSoluciones.POS.WebApp.Extensions;
@using Microsoft.AspNetCore.Components.Authorization
@using DecenaSoluciones.POS.WebApp.Services;
@using CurrieTechnologies.Razor.SweetAlert2;

@inject AuthenticationStateProvider autenticacionProvider
@inject NavigationManager navManager
@inject SweetAlertService Swal;
@inject IAuthService authService;

<div class="row mt-5">

    <div class="col-lg-4 offset-lg-4 border">

        <div class="mb-3 text-center">
            <h3>Acceder</h3>
        </div>

        <div class="mb-3">
            <label>Usuario</label>
            <input @bind="model.Username" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Contraseña:</label>
            <input @bind="model.Password" class="form-control" />
        </div>

        <div class="mb-3">
            <button @onclick="SubmitLogin" class="btn btn-primary">Login</button>
        </div>

    </div>

</div>
@*<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }
</style>
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="/images/logo/Logo-Full.png"
                     class="img-fluid" alt="logo image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="txtUser" @bind="model.Username" class="form-control form-control-lg" />
                        <label class="form-label" for="txtUser">Usuario</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="txtPassword" @bind="model.Password" class="form-control form-control-lg" />
                        <label class="form-label" for="txtPassword">Contraseña</label>
                    </div>

                    <!-- Submit button -->
                    <button @onclick="SubmitLogin" class="btn btn-primary btn-lg btn-block">Acceder</button>

                </form>
            </div>
        </div>
    </div>
</section>*@

@code {
    [Inject] protected PreloadService? PreloadService { get; set; }
    private LoginViewModel model = new LoginViewModel();

    private async Task SubmitLogin()
    {
        PreloadService!.Show();
        try
        {
            var response = await authService.Login(model);
            PreloadService.Hide();
            if (response.Success)
            {
                var authExt = (AuthExtension)autenticacionProvider;
                await authExt.UpdateSessionState(response.Result!);

                navManager.NavigateTo("/");
            }
            else
            {
                await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Error",
                        Text = response.Message,
                        Icon = SweetAlertIcon.Error
                    });
            }

        }
        catch (Exception ex)
        {
            PreloadService.Hide();
            await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Error",
                    Text = "Se produjo un error al procesar la petición: " + ex.Message,
                    Icon = SweetAlertIcon.Error
                });

        }
    }

}