h3 {
    color: #000080
}

.validation-message {
    color: #dc3545 !important;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

/*.loadingDiv {
    margin: auto;
    width: 50%;
    padding: 10px;
}*/

    .loadingDiv .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .loadingDiv .loading {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
    }

.headerRow {
    background-color: #000080 !important;
}

.rz-text-h1,
.rz-text-h2,
.rz-text-h3,
.rz-text-h4,
.rz-text-h5,
.rz-text-h6 {
    color: #000080 !important;
    font-weight: bold !important;
}


.floatButtom {
    position: fixed !important;
    bottom: 45px !important;
    right: 40px !important;
    min-height: 4rem !important;
    min-width: 4rem !important;
}